.siteBarIMG > img {
  width: 100%;
}
.siteBarIMG {
/*   position: relative;
  left:10px; */
  width: 23px;
  height: 23px;
  overflow: hidden;
  border-radius: 50%;
}


.siteBarItem {
  display: grid;
  margin: 10px auto;
  justify-items: center;
}
