.postsBlock {
  padding: 30px 50px 0 50px;
}

.posts {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 10px;
}
.button {
  position: relative;
  left: 230px;
  background-color: royalblue;
  border: 0;
  border-radius: 3px;
  color: white;
  box-shadow: 3px 4px 21px -6px rgba(0, 0, 0, 0.75);
  margin-bottom: 30px;
}

h2 {
  color: rgb(70, 67, 67);
}
